<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="http://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css">
    <link href="{% static 'css/hystmodal.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mycss.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <title>Тестовое задание</title>
</head>
<body>
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <button id='add' type="button" class="btn btn-primary"> Добавить пациента
        </button>
    </div>


    <div class="vmodal" style="display:none;">
        <div class="modal-window">
            <div class="modal-header">
                <span class="modal-title">Заполните форму</span>
                <span class="modal-close">&times;</span>
            </div>
            <div class="modal-body">
                <form class="row g-3" method="post" name='q' enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="col-6">
                        <button class="btn btn-primary" type="submit">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="d-grid gap-2 col-10 mx-auto">

        <table id="myTable" class="table table-striped">
            <thead>

            <tr>
                <th>ФИО пациента</th>
                <th>Дата рождения пациента</th>
                <th>Uid Исследования</th>
                <th>Дата Исследования</th>

                <th>Модальность исследования
                <span class='support' tabindex="1" data-title="
                   ['CT', 'Computed Tomography'],&#013;
                   ['MR', 'Magnetic Resonance'],&#013;
                   ['PT', 'Positron emission tomography'],&#013;
                   ['US', 'Ultrasound'],&#013;
                   ['XA', 'X-Ray Angiography'],&#013;
                   ['MG', 'Mammography'],&#013;
                   ['CR', 'Computed Radiography'],&#013;
                   ['AS', 'Angioscopy'],&#013;
                   ['DX', 'Digital Radiography'],&#013;
                   ['EC', 'Echocardiography']">
                        <em>(Справка)</em>
                    </span>
                </th>
            </tr>

            </thead>
            <tbody>

            <tr>
                <th> {{ object.patient_fio }}</th>
                <th> {{ object.patient_birthdate }}</th>
                <th> {{ object.study_uid }}</th>
                <th> {{ object.study_date }}</th>
                <th> {{ object.study_modality }}</th>
            </tr>


            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript"
        src="http://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
<script type="text/javascript"
        src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>